@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #091924;
}

:root{
    --main-font:'Indie Flower', cursive;
}

html{
    font-family: sans-serif;;
}

header{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.main-header{
    text-align: center;
    transition: 0.5s;
    width: 503px;
    height: 700px;
}

.main-header:hover{
    -webkit-box-shadow: 1px 13px 54px 28px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 13px 54px 28px rgba(0,0,0,0.75);
    box-shadow: 1px 13px 54px 28px rgba(0,0,0,0.75);
}

.main-header h1{
    font-size:  3rem;
    font-family: var(--main-font);
    color: #44E0E7;
    margin: 20px;
}

.main-header hr{
    width: 50%;
    margin: auto;
    padding:  2px;
    background-color: #FF2D7A;
    border: none;
}

.main-header h3{
    font-size: 2px;
    color: #44E0E7;
    font-size: 2rem;
    margin: 20px;
}

.main-header input{
    width: 90%;
    padding: 1rem;
    margin: 20px 0px;
    border: none;
    border-bottom: 1px solid #44E0E7;
    font-size: 1.3rem;
    background: transparent;
    outline: none;
    color: #FF2D7A;
}

.main-header button{
    padding: 1rem 3rem;
    font-size: 1.2rem;
    background-color: #44E0E7;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
    color: #091924;
}

.main-header button:hover{
    transform: scale(1.2);
    transition: 0.8s;
}
#register{
    color: #FF2D7A;
    text-align: right;
    padding-right: 15px;
}

::placeholder{
    color: #FF2D7A;
}

.main-header a:hover{
    text-decoration: none;
    transform: scale(2rem);
}

#register {
    color: white;
    width: 50px;
}